/* CONTENT */
section {
  background-color: #8fd879;
  grid-area: ct;
  display: flex;
  justify-content: center;
}

.content-grid {
  margin-top: 30px;
  display: grid;
  gap: 10px;
  padding: 0 15px 0 15px;
}
.blog-box {
  background-color: #acff93;
  border: 2px solid #000;
  text-align: center;
  align-items: center;
  padding: 15px;
  font-size: 0.9rem;
}

.blog-flex-item {
  margin-bottom: 12px;
}

.blog-photo {
  width: 80%;
  height: 80%;
}

.blog-summary {
  line-height: 1.4rem;
  width: 80%;
}

.blog-card-button {
  border-radius: 20px;
  padding: 10px;
  background-color: #41ac1a;
}

.show-more-div {
  padding: 15px 0 15px 0;
  justify-content: center;
  grid-column: 1/-1;
}

.show-more--btn {
  background-color: #acc8e5;
  font-weight: bold;
  border-color: #000;
  padding: 10px;
  border-radius: 50px;
}

.show-more--div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  grid-column: 1/-1;
}

.show-more--btn {
  background-color: #acc8e5;
  font-weight: bold;
  border-color: #000;
  padding: 10px;
  border-radius: 50px;
}

/* CONTENT MEDIA QUERIES */
@media (min-width: 400px) and (max-width: 900px) {
  .content-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
  }
  #one {
    border-top-left-radius: 10%;
  }
  #two {
    border-top-right-radius: 10%;
  }

  #two img {
    width: 75%;
  }

  #three {
    border-radius: 0;
  }

  #four {
    display: none;
  }

  #five img {
    width: 70%;
    height: 70%;
  }

  #six {
    grid-column: 1 / -1;
    border-bottom-left-radius: 10%;
    border-bottom-right-radius: 10%;
  }
  #six img {
    width: 50%;
    height: 50%;
  }

  #seven {
    display: none;
  }
}

@media (min-width: 901px) and (max-width: 1300px) {
  .content-grid {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
  }
  #one {
    border-top-left-radius: 10%;
  }

  #three {
    border-top-right-radius: 10%;
  }

  #four {
    grid-column: 1/-1;
  }

  #four img {
    width: 15%;
  }

  #five {
    grid-column: 1/-1;
  }

  #five img {
    width: 25%;
  }

  #six {
    grid-column: 1 / -1;
    border-bottom-left-radius: 10%;
    border-bottom-right-radius: 10%;
  }
  #six img {
    width: 50%;
    height: 50%;
  }

  #seven {
    display: none;
  }

  .show-more-div {
    padding: 15px 0 15px 0;
    justify-content: center;
    grid-column: 1/-1;
  }
}

@media (min-width: 1301px) {
  .content-grid {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    margin-bottom: 32px;
  }

  #one {
    border-top-left-radius: 10%;
  }

  #three {
    border-top-right-radius: 10%;
  }

  #four {
    grid-column: 1 / span 2;
  }

  #six {
    border-bottom-left-radius: 10%;
  }

  #seven {
    grid-column: 2/-1;
    border-bottom-right-radius: 10%;
  }

  .blog-box--large {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .blog-box--large--left {
    margin: 0;
  }
  .blog-box--large--right {
    justify-content: center;
    align-items: center;
  }

  .show-more--div.flex-row {
    display: none;
  }
}
