.content {
  flex-direction: row;
}
.content-left-container {
  align-items: end;
  margin-right: 3rem;
}

.content-right-container {
  margin-left: 3rem;
}

.avatar {
  width: 50%;
  background-color: #f2cc85;
  border-radius: 50%;
}

/* QUOTE */
.quote-container {
  width: 60%;
  text-align: right;
}
.quote {
  font-style: italic;
  font-size: 80%;
}

.bio {
  line-height: 1.8rem;
}

h2 {
  text-align: center;
}

/* SOCIAL MEDIA LINKS */
.social-media-section {
  grid-column: 1/-1;
  text-align: center;
  margin-top: 1.5rem;
}
.social-links-blog {
  justify-content: center;
}

.social-link--icon {
  border: 3.5px solid;
  font-size: 3.5rem;
  padding: 15px;
  border-radius: 50%;
  color: #eee;
  margin-left: 1.2rem;
}
#twitter {
  background-color: #1da1f2;
  border-color: #1da1f2;
}

#facebook {
  background-color: #4267b2;
  border-color: #4267b2;
}

#instagram {
  background-color: #e1306c;
  border-color: #e1306c;
}

#linkedin {
  background-color: #0077b5;
  border-color: #0077b5;
}

#snapchat {
  background-color: #e4af00;
  border-color: #e4af00;
}
/* SUBSCRIBE SECTION */
.subscription-section {
  justify-content: center;
  text-align: center;
  grid-column: 1/-1;
  padding-bottom: 3.5rem;
}

@media (min-width: 400px) and (max-width: 900px) {
}
