/* NAVIGATION */
nav {
  background-color: #000;
  padding: 0 3rem;
  grid-area: nav;
}

.nav-links {
  display: flex;
  justify-content: center;
}

.nav-link {
  margin: 20px;
  border: 2.5px solid #9cbfff;
  border-radius: 25px;
  padding: 0.8rem;
  background-color: #9cbfff;
  text-decoration: underline;
}

.socials {
  display: grid;
  grid-auto-flow: row;
  grid-gap: 0.5rem;
  text-align: center;
}
.social-links {
  display: flex;
  justify-content: center;
}

.social-link {
  width: 40px;
}

#subscribe-btn {
  color: #000;
  background-color: #ffae66;
  border: 3px solid #ff7700;
}
