/* FOOTER */
footer {
  background-color: #000;
  color: #eee;
  letter-spacing: 4px;
  grid-area: ft;
  padding: 20px;
  text-align: center;
}

.footer-bottom {
  padding: 1.5rem 0 1.5rem 0;
  font-size: 12px;
}

.social-link--footer {
  color: #eee;
  font-size: 25px;
}
