/* CONTENT */
section {
  background-color: #8fd879;
  grid-area: ct;
  display: flex;
  justify-content: center;
}

.section-grid {
  margin-top: 30px;
  display: grid;
  grid-template-columns: repeat(3, 500px);
  grid-template-rows: repeat(3, 490px);
  gap: 10px;
}
.blog-box {
  background-color: #acff93;
  border: 2px solid #000;
  text-align: center;

  align-items: center;
  padding: 15px;
  font-size: 0.9rem;
}

.blog-flex-item {
  margin-bottom: 12px;
}

.blog-photo {
  width: 80%;
  height: 80%;
}

.blog-summary {
  line-height: 1.4rem;
}

.blog-card-button {
  border-radius: 20px;
  padding: 10px;
}

.show-more-div {
  justify-content: center;
  grid-column: 1/-1;
}
