/* FOOTER */
footer {
  background-color: lightblue;
  grid-area: ft;

  padding: 20px;

  text-align: center;
}

.footer-bottom {
  padding: 1.5rem 0 1.5rem 0;
  font-size: 12px;
}

.social-link--footer {
  color: black;
  font-size: 25px;
}
