/* IMPORTING CSS FILES */
@import "style-navigation.css";
@import "style-content.css";
@import "style-footer.css";
@import "style-blog.css";
@import "style-aside.css";

/* GENERAL STYLING */
body {
  margin: 0;
  font-family: "Cutive", serif;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.container {
  display: grid;
}

a {
  text-decoration: none;
  padding: 0.5rem;
}

ul {
  list-style: none;
}

button {
  font-family: "Cutive", serif;
}

.bold {
  font-weight: bold;
}

/* HEADER */
header {
  color: #fff;
  text-align: center;
  background-color: #000;
  grid-area: hd;
}

.title {
  font-size: 3rem;
}

a:visited {
  color: #000;
}

/* @media (min-width: 400px) {
  .container {
    grid-template-columns: repeat(4, 20vw);
    grid-template-areas:
      "hd hd hd hd hd"
      "nav nav nav nav nav"
      "ct ct ct ct ct"
      "ct ct ct ct ct"
      "as as as as as"
      "ft ft ft ft ft";
  }

  footer {
    display: none;
  }

  nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .section-grid {
    display: grid;
    grid-template-columns: repeat(2, 450px);
    grid-template-rows: repeat(3, 490px);
  }
  #one {
    border-top-left-radius: 10%;
  }
  #two {
    border-top-right-radius: 10%;
  }

  #two img {
    width: 75%;
  }

  #three {
    border-radius: 0;
  }

  #four {
    display: none;
  }

  #five img {
    width: 70%;
    height: 70%;
  }

  #six {
    grid-column: 1 / -1;
    border-bottom-left-radius: 10%;
    border-bottom-right-radius: 10%;
  }
  #six img {
    width: 50%;
    height: 50%;
  }

  #seven {
    display: none;
  }

  .show-more-div {
    padding: 15px 0 15px 0;
    justify-content: center;
    grid-column: 1/-1;
  }

  .show-more--btn {
    background-color: #acc8e5;
    font-weight: bold;
    border-color: #000;
    padding: 10px;
    border-radius: 50px;
  }
}

@media (min-width: 901px) {
  .container {
    grid-template-columns: repeat(4, 20vw);
    grid-template-areas:
      "hd hd hd hd hd"
      "nav nav nav nav nav"
      "ct ct ct ct ct"
      "ct ct ct ct ct"
      "as as as as as"
      "ft ft ft ft ft";
  }

  .section-grid {
    display: grid;
    grid-template-columns: repeat(3, 450px);
    grid-template-rows: repeat(4, 490px);
  }
  #one {
    border-top-left-radius: 10%;
  }

  #three {
    border-radius: 0;
  }

  #four {
    grid-column: 1/-1;
  }

  #four img {
    width: 15%;
  }

  #five {
    grid-column: 1/-1;
  }

  #six {
    grid-column: 1 / -1;
    border-bottom-left-radius: 10%;
    border-bottom-right-radius: 10%;
  }
  #six img {
    width: 50%;
    height: 50%;
  }

  #seven {
    display: none;
  }

  .show-more-div {
    padding: 15px 0 15px 0;
    justify-content: center;
    grid-column: 1/-1;
  }

  .show-more--btn {
    background-color: #acc8e5;
    font-weight: bold;
    border-color: #000;
    padding: 10px;
    border-radius: 50px;
  }
  .list-flex {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }
} 
*/

@media (min-width: 1501px) {
  .container {
    grid-template-areas:
      "hd hd hd hd hd"
      "nav nav nav nav nav"
      "ct ct ct ct as"
      "ct ct ct ct as"
      "ft ft ft ft ft";
    grid-template-columns: repeat(4, 20vw) 20vw;
  }

  #four {
    grid-column: 1 / span 2;
  }

  .blog-box--large {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .blog-box--large--left {
    margin: 0;
  }
  .blog-box--large--right {
    justify-content: center;
    align-items: center;
  }

  .show-more--btn {
    display: hidden;
  }
}
